*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #0066cc;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 20px 0;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0055aa;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  background-color: #4caf50; /* Verde para editar */
  color: #fff;
  margin-right: 5px;
}

.delete-btn {
  background-color: #f44336; /* Rojo para eliminar */
  color: #fff;
}

.delete-btn:hover, .edit-btn:hover {
  background-color: #0055aa;
}


